<style>
        body {
            margin: 0;
        }
        .header{
          background-color: rgb(197, 197, 202);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 50px;
        }
        .links a{
             color: white;
             padding: 0 25px;
             text-decoration: none;
             border-radius: 20px;
        }
        .links a:hover{
             background-color: rgb(218, 218, 223);
        }
         button{
            background-color: rgb(84, 84, 245);
            color: white;
            border: 0;
            padding: 5px 15px;
             border-radius: 20px;
        }
         button:hover {
            border-color: rgb(108, 108, 173);
        }
        .page1 {
            background-color: rgb(197, 197, 202);
            display: flex;
            justify-content: space-between;
            padding: 20px 50px;
             align-items: center;
             border-radius:0 0 50px 50px;
        }
        .page2 {
            width: 400px;
        }
         img{
             border-radius: 20px;
             badding: 20;
             
            
         }
        .content {
            display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 50px;
        }
        .page{
             width:600px;
        }
     .images img{
            width: 350px;
            height: 300px;
        }
        </style>